---
# Configuration of Dependabot. See https://docs.github.com/en/code-security/dependabot/working-with-dependabot/dependabot-options-reference for details
version: 2
updates:
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "monthly"
# docker bot configurations
- package-ecosystem: "docker"
  directories:
  - "/"
  - "/docker"
  schedule:
    interval: "monthly"
  open-pull-requests-limit: 20
# Golang bot configurations
- package-ecosystem: "gomod"
  directory: "/"
  schedule:
    interval: "monthly"
  open-pull-requests-limit: 20
